@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --clr-primary:#7388ec;
    --clr-danger:#ff7782;
    --clr-succes:#41f1b6;
    --clr-white:#fff;
    --clr-info-dark:#768da1;
    --clr-info-light:#dce1eb;
    --clr-warning:#ff4edc;
    --clr-light:rgba(132, 139, 200, 0.18);
    --clr-dark:#363949;
    --clr-dark:#363949;

    --clr-color-background:#f6f6f9;
}

*{
    margin: 0;
    padding: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: 0;
}

body{
    /* background-color: rgb(185, 185, 241); */
    user-select: none;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-size: 0.8rem;
    background-color: var(--clr-color-background);
}

.container{
    display: grid;
    grid-template-columns: 14rem auto 14rem;
    margin: 0 auto;
    width: 96%;
    gap: 1.8rem;
}

h1{
    font-size: 2rem;
  font-weight: bold;
}

h2{

}
h3{
    font-size: 1.2rem;
  font-weight: 600;
}
h4{

}

h5{

}
h6{

}

small{
    font-size: 0.78rem;
}

.profile.photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

/* aside */

aside{
    height: 100vh;
}

aside .top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
    background-color: var(--clr-white);
}

aside .logo{
    display: flex;
    gap: 1.1rem;
}

/* aside .top .logo .close{
 display: none;
} */


/*----sidebar----*/

aside .sidebar{
    position: relative;
    height: 85vh;
    display: flex;
    flex-direction: column;
    top: 1rem;
    background-color: var(--clr-white);
}

aside .sidebar a{
    display: flex;
    gap: 1.1rem;
    color: var(--clr-info-dark);
    margin-left: 2rem;
    height: 3.2rem;
    transition: all .1s ease-in;
    align-items: center;
}

aside .sidebar a .msg{
 background-color: var(--clr-primary);
 color: var(--clr-white);
 padding: 2px 5px;
 border-radius: 40px;
}

aside .sidebar a:hover{
  color: var(--clr-primary);
}

aside .sidebar a:hover i{
    margin-left: 1rem;
    transition: .4s ease;
}
  
aside .sidebar a.active{
    background-color: var(--clr-light);
    color: var(--clr-primary);
    margin-left: 0;
    border-left: 5px solid var(--clr-primary);
 }

 aside .sidebar a.active::before{
    content: "";
    width: 6px;
    height: 100%;
    background-color: var(--clr-primary);
 }

aside .sidebar a span{
   font-size: 1.1rem;
   transition: all .1s ease-in;
}

aside .sidebar a i{
    font-size: 1.1rem;
    transition: all .1s ease-in;
 }


aside .sidebar a:last-child{
    position: absolute;
    bottom: 1rem;
    width: 100%;
}


/*** start main section   ***/

main{
    margin-top: 1.4rem;
    width: auto;
}

main input{
    background-color: transparent;
    outline: none;
    border: none;
   color: var(--clr-dark);
}

main .date{
    display: inline-block;
    background-color: var(--clr-white);
    margin-top: 1.4rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.4rem;
}

main .insights{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.1rem;
}

main .insights>div{
   background-color: var(--clr-white);
   padding: 1.5rem;
   margin-top: 1.2rem;
   border-radius: 1.5rem;
   /* box-shadow: 0.4rem 0.4rem black; */
   box-shadow: 0.4rem 0.4rem 0.2rem black;
   transition: all .5s ease;
}

main .insights > div:hover{
 box-shadow: none;
 }

 main .insights > div i{
    background-color: coral;
    padding: 0.6rem;
    color: var(--clr-white);
    border-radius: 50%;
    font-size: 1.7rem;
}

main .insights > div.expenses i{
    background-color: var(--clr-danger);
}

main .insights > div.income i{
    background-color: var(--clr-succes);
}

/* main .insights > div .middle{
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights > div .middle h1{
   font-size: 1.8rem;
}

main .insights .progress{
    position: relative;
    height: 68px;
    width: 68px;
    border-radius: 50px;
}

main .insights svg{
    position: absolute;
    height: 150px;
    width: 150px;
    top: 0;
}

main .insights svg circle{
    stroke: var(--clr-primary);
    fill: none;
    stroke-width: 5;
    transform: rotate(270,80,80);
}

main .insights .sales svg circle{
    stroke-dashoffset: 10;
    stroke-dasharray: 150;
}

main .insights .expenses svg circle{
    stroke-dashoffset: 0;
    stroke-dasharray: 150;
}

main .insights .income svg circle{
    stroke: var(--clr-succes);
}

main .insights .progress .number{
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   top: 5%;
   left: 5%;
}

main .recent_order{
    margin-top: 2rem;
}

main .recent_order h1{
   color: var(--clr-dark);
}

main .recent_order table{
    background-color: var(--clr-white);
    color: var(--clr-dark);
    width: 100%;
    padding: 0.5rem;
    /* box-shadow: ; */
    text-align: center;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    transition: .2s all ease;
}

main table tbody tr{
    height: 3.8rem;
    border-bottom: 1px solid var(--clr-white);
    color: var(--clr-dark);
}

main table tbody td{
    height: 3.8rem;
    border-bottom: 1px solid var(--clr-dark);
}

main table tbody tr:last-child td{
    border: none;
}

main .recent_order a{
    text-align: center;
    display: block;
    margin: 1rem;
}